<ion-view view-title="Contact us">
  <ion-content>
    <div class="card">
          <div class=" item item-divider">
              Location information
          </div>
          <div class="item">
            <h3>Our Address</h3>
            121, Clear Water Bay Road<br>
            Clear Water Bay, Kowloon<br>
            HONG KONG <br>
            <i class="icon ion-ios-telephone"></i>Tel: +852 1234 5678<br>
            <i class="icon ion-printer"></i>Fax: +852 8765 432<br>
            <i class="icon ion-email"></i>Email:confusion@food.net<br>
          </div>
          <div class="button-bar">
              <a class="button  button-positive"><i class="icon ion-ios-telephone"></i>call</a>
              <a class="button button-calm"><i class="ion-social-skype-outline"></i>Skype</a>
              <a class="button button-balanced"><i class="ion-email"></i>Email</a>
          </div>
      </div>
  </ion-content>
</ion-view>

